@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
}

body {
    background-color: #f0f0f0;
    transition: all 0.5s ease;
}

body.dark {
    background-color: #333;
}

body.dark {
    --white-color: #333;
    --blue-color: #fff;
    --grey-color: #f2f2f2;
    --grey-color-light: #aaa;
}

.section-nav-side-bar .content-main {
    position: fixed;
    padding: 5px 20px 20px 20px;
    top: 77px;
    left: 260px;
    overflow-y: auto;
    width: calc(100% - 260px); 
    height: 90%;
}

/* navbar */
.hd-admin-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    z-index: 1000;
    box-shadow: 0 0 2px var(--grey-color-light);
}

.hd-admin-logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--blue-color);
}

.hd-admin-navbar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.hd-admin-search_bar {
    height: 47px;
    max-width: 430px;
    width: 100%;
}

.hd-admin-search_bar input {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    font-size: 18px;
    outline: none;
    background-color: var(--white-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color-light);
    padding: 0 20px;
}

.hd-admin-navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.hd-admin-navbar_content i {
    cursor: pointer;
    font-size: 20px;
    color: var(--grey-color);
}

/* sidebar */
.hd-admin-sidebar {
    background-color: var(--white-color);
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 80px 20px;
    z-index: 100;
    overflow-y: scroll;
    box-shadow: 0 0 1px var(--grey-color-light);
    transition: all 0.5s ease;
}

.hd-admin-sidebar.close {
    padding: 60px 0;
    width: 80px;
}

.hd-admin-sidebar::-webkit-scrollbar {
    display: none;
}

.hd-admin-menu_content {
    position: relative;
}

.hd-admin-menu_title {
    color: var(--grey-color);
    margin: 15px 0;
    padding: 0 20px;
    font-size: 18px;
}

.hd-admin-sidebar.close .hd-admin-menu_title {
    padding: 6px 30px;
}

.hd-admin-menu_title::before {
    color: var(--grey-color);
    white-space: nowrap;
}

.hd-admin-menu_items {
    padding: 0;
    list-style: none;
}

.hd-admin-navlink_icon {
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
}

.hd-admin-navlink_icon .bx {
    margin-right: 10px;
    color: var(--blue-color);
}

.hd-admin-navlink_icon:hover {
    background: var(--blue-color);
}

.hd-admin-sidebar .hd-admin-nav_link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--grey-color);
    white-space: nowrap;
}

.hd-admin-sidebar.close .hd-admin-nav_link {
    display: none;
}

.hd-admin-nav_link:hover {
    color: var(--white-color);
    background: var(--blue-color);
}

.hd-admin-nav_link:hover i {
    color: var(--white-color);
}

.hd-admin-sidebar.close .hd-admin-nav_link:hover {
    background: var(--white-color);
}

.hd-admin-submenu_item {
    cursor: pointer;
}

.hd-admin-submenu-header {
    display: none;
}

.show_hd-admin_submenu~.hd-admin-submenu-header {
    display: block;
}

.show_hd-admin_submenu .hd-admin-arrow-left {
    transform: rotate(90deg);
}

.hd-admin-submenu-header .hd-admin-sublink {
    padding: 15px 15px 15px 52px;
}

.hd-admin-bottom_content {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 260px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.hd-admin-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-around;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    color: var(--grey-color);
    border-top: 1px solid var(--grey-color-light);
    background-color: var(--white-color);
}

.hd-admin-bottom i {
    font-size: 20px;
}

.hd-admin-bottom span {
    font-size: 18px;
}

.hd-admin-sidebar.close .hd-admin-bottom_content {
    width: 50px;
    left: 15px;
}

.hd-admin-sidebar.close .hd-admin-bottom span {
    display: none;
}

.hd-admin-sidebar.hoverable .hd-admin-collapse_sidebar {
    display: none;
}

#hd-admin-sidebarOpen {
    display: none;
}

@media screen and (max-width: 768px) {
    #hd-admin-sidebarOpen {
        font-size: 25px;
        display: block;
        margin-right: 10px;
        cursor: pointer;
        color: var(--grey-color);
    }

    .hd-admin-sidebar.close {
        left: -100%;
    }

    .hd-admin-search_bar {
        display: none;
    }

    .hd-admin-sidebar.close .hd-admin-bottom_content {
        left: -100%;
    }
}
